@import '../base/colors';
@import '../base/variables';

/*****BASE styles*****/
a {
	color: $primaryLinkColor;
}

/***** ICONS START *****/
.icon {
	display: inline-block;
	fill: currentColor;
	margin-top: -0.2em;
	width: 25px;
	height: 25px;
	vertical-align: middle;
	overflow: hidden;
}
.icon--fill {
	background-color: currentColor;
	fill: $colorWhite;
}
.icon--round {
	border-radius: 4px;
}
.icon--circle {
	border-radius: 50%;
}
.icon--border {
	border: 1px solid currentColor;
}
/***** ICONS END *****/

/***** Header Start *****/
header {
	color: $primaryColor;
	font-family: $primaryFontFamilyHeading;
	font-size: $designDimensionMD;
	text-transform: uppercase;
}
/***** Header End *****/

/***** Content Start *****/
.content {
	width: ($fullPercentage - 20);
	margin: 0 auto;
}
.sub-text {
	width: $fullPercentage;
	margin: 30px auto;
	text-align: justify;
	color: $primaryTextColor;
	font-size: ($designDimensionSM + 0.2);
}
/***** Content End *****/

/***** Searchbar Start *****/
form {
	max-height: 70px;
}
input[type='text'],
input[type='submit'] {
	padding: 15px;
	border: 0px;
	max-height: 60px;
}
input[type='text'] {
	width: 90%;
}
input[type='submit'] {
	flex: 1;
	margin-left: 10px;
	color: $colorWhite;
	background: $primaryColor;
	text-align: center;
}
input[type='submit']:hover {
	cursor: pointer;
}
/***** Searchbar End *****/

/***** Grid Start *****/
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
	grid-auto-flow: dense;
	grid-gap: 10px;
	width: $fullPercentage;
	margin: 30px auto;
	position: relative;
}
.item:nth-of-type(odd) {
	grid-column-end: span 2;
}
.item {
	-webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
	-moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
	transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
}
.item:hover {
	-webkit-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	transform: translateY(-6px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.item .image {
	width: $fullPercentage;
	height: 200px;
	background-color: $primaryColor;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	animation-play-state: paused;
}
#random-section .item .image {
	min-height: 400px;
	background-size: contain;
}
.item .controls {
	padding: 5px 0px;
	position: absolute;
	top: 5px;
	right: 5px;
	display: none;
}
.item:hover .controls {
	display: block;
}
.controls button {
	margin-right: 10px;
	border: 0;
	background: $primaryColor;
	cursor: pointer;
}
.controls button,
.controls button a {
	color: $colorWhite;
}
#load-more {
	min-width: 10%;
	padding: 10px 15px;
	border: 0px;
	color: $colorWhite;
	background: $primaryColor;
	text-align: center;
	cursor: pointer;
}
/***** Grid End *****/

/***** Empty Start *****/
.empty-state {
	text-align: center;
	padding: 10px 0px 25px 0px;
}
.empty-state img {
	width: 25%;
}
.loader img {
	width: 10%;
}
.empty-state h2 {
	font-size: ($designDimensionSM + 0.5);
}
/***** Empty End *****/

/***** Overlay Start *****/
.overlay {
	width: $fullPercentage;
	height: $fullPercentage;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	z-index: 999;
	background: #0e0e0e8a;
}
.overlay .overlay-close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: $colorWhite;
	cursor: pointer;
	font-size: ($designDimensionSM + 0.2);
}
/***** Overlay End *****/

@media only screen and (max-width: 768px) {
	.content {
		width: 90%;
	}
	.grid {
		grid-template-columns: 1fr;
	}
	.grid .item {
		grid-column-end: span 1;
	}
	.item {
		position: relative;
	}
	.item .controls {
		display: inline-block !important;
	}
	.empty-state img {
		width: 50%;
	}
	.loader img {
		width: 10%;
	}
}

@media only screen and (max-width: 480px) {
	header img {
		max-height: 70%;
	}
	.sub-text {
		font-size: $designDimensionSM;
	}
	.empty-state h2 {
		font-size: $designDimensionSM;
	}
	.overlay {
		overflow: auto;
	}
	.overlay .overlay-item {
		min-width: 300px;
		min-height: 100px;
		max-width: 90%;
		background-color: $primaryColor;
	}
	.overlay .overlay-item img {
		max-width: $fullPercentage;
	}
}
